:root {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
}
label {
  font-weight: 700;
}

input,
label {
  display: block;
}
.name label::after {
  content: "*";
  color: red;
}
