/* Ebene 1 */
ul > li {
  color: black;
}

/* Ebene 2 */
ul > li > ul > li {
  color: blue;
}

/* Ebene 3 */
ul > li > ul > li > ul > li {
  color: red;
}





ul {
  list-style-image: url('sqpurple.gif');
}