/* Ebene 1 */
ul > li {
  color: black;
list-style-image: url('sqpurple.gif');
font-size: 0.8em;
line-height: 1.5em;
}

/* Ebene 2 */
ul > li > ul > li {
  color: blue;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* Ebene 3 */
ul > li > ul > li > ul > li {
  color: red;
  font-size: 0.8em;
  line-height: 1.5em;
}





.dog{
    list-style: "🐶";
}