@font-face {
    font-family: "Barriecito";
    src: url("../font/Barriecito/Barriecito-Regular.ttf");
}

@font-face {
    font-family: "Cinzel";
    src: url("../font/Cinzel/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Monoton";
    src: url("../font/Monoton/Monoton-Regular.ttf");
}

@font-face {
    font-family: "Sour_Gummy";
    src: url("../font/Sour_Gummy/SourGummy-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Space_Grotesk";
    src: url("../font/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}