img{
    width: 100vw;
}

header{
    color: white;
    font-size: 2rem;
    background-color: #7c7c7c80;
    width: 70vw;
    margin: auto;
    position: relative;
    left: 50%;
    top: 50%;

}

h1{
    padding: 10px 80px;
}