img{
    width: 100vw;
}

h2{
    color: white;
    font-size: 2rem;
    background-color: #7c7c7c80;
    width: 70vw;
    /* margin: auto; */
    position: relative;
    left: 50vw;
    top: 50vh;

}

h2{
    padding: 10px 80px;
}