*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imagecontainer{
    position: relative;
    width: 100vw;
}

.imagecontainer img{
    width: 100%;
    height: auto;
    display: block;
}

.quote{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    /* 
    1.	left: 50% Schiebt das linke Ende des Elements bis zur horizontalen Mitte des übergeordneten Containers.
	2.	transform: translateX(-50%) Verschiebt das Element nun zusätzlich nach links, und zwar um 50 % der eigenen Breite. */
    width: 60vw;
    padding: 20px;
    background-color: rgba(124, 124, 124, 0.5); /* halbtransparentes Grau */
    text-align: center;
}

.quote h2{
    color: white;
    font-size: 2rem;
}