img{
    width: 100vw;
}



div{
    width: 70vw;
    margin: auto;
    position: relative;
    top: -300px;
    /* margin-top: 30vh; */
    /* display: inline; */
    z-index: 999;
    padding: 10px 80px;
    background-color: #7c7c7c80;
}

div h2{
    color: white;
    font-size: 2rem;
}