*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imagecontainer{
    position: relative;
    width: 100vw;
}

.imagecontainer img{
    width: 100%;
    height: auto;
    display: block;
}

.quote{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    padding: 20px;
    background-color: rgba(124, 124, 124, 0.5); /* halbtransparentes Grau */
    text-align: center;
}

.quote h2{
    color: white;
    font-size: 2rem;
}