* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
    border: 1px solid black;
    border-style: dashed;
    border-radius: 15px;
    width: 30%;
    padding: 20px;
    text-align: center;
    margin: 30px auto 30px auto;

}