*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article{
    border: 1px solid black;
    display: block;
    width: 300px;
    padding: 10px;
    margin: 15px;
}

h2{
    padding-top: 20px;
}

ul{
    padding: 10px 0 20px 30px;
    list-style-type: none;

}