*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article{
    border: 1px solid black;
    display: block;
    width: 300px;
    padding: 10px;
}

h2{
    padding-top: 20px;
}

/* ul{
    padding-left: 30px;

} */