*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: "Barriecito";
    src: url("../font/Barriecito-Regular.ttf");
}


img{
    height: 100vh;
}

main{
    padding: 5%;
}

article{
    padding: 2%;
    margin: 0 100px;
}