* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

html {
  font-family: "Roboto";
  padding: 0 5vw;
}

nav li {
  color: #73998a;
  display: inline-block;
  list-style: none;
}

.titleWrapper {
  width: 20vw;
}
h1 {
  color: #73998a;
}
h2 {
  color: #080808;
}
