* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(../img/photo-1751013781844-fa6a78089e49.avif);
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
}

/* #=============Elements============= */

nav {
  background-color: rgba(0, 0, 0, 0.599);
  display: flex;

  font-family: "Courier New", Courier, monospace;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 50px;
}

.navmenu a {
  padding-right: 20px;
}
nav a {
  color: white;
}
.logo {
  text-transform: uppercase;
}
