/* Global Styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    /* unser root verzeichnis */
    font-size: 16px;
    /* font-size: 62.5%; */
    /*ergibt 10 px */
    font-family: Arial, Helvetica, sans-serif;
}

/* Root ist wie ein Lagerhasu und man kann bestimmte eigenschaften auslagern und sie später wieder verweden. */
:root{
    --header-h2-color: #ff1555;
    --width: 400px;
    --bg-color-yellow: rgb(253, 152, 0);
}

h2{
    color: red;
}

@font-face {
    font-family: "Caveat-Variable";
    src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

/* Element Styling */

header{
    margin: 50px auto;

}

h1{
    font-family: Caveat-Variable, sans-serif;
    font-size: 70px;
    text-decoration: underline;
    text-align: center; /*Horizontale Ausrichtung*/
    color: tomato;
    margin-bottom: 50px;

}

header p{
    color: var(--header-h2-color);
    border: 2px solid green;
    font-family: "Caveat-Variable";
    font-weight: 900;
    text-align: right;
    /* letter-spacing: 10px; */
    word-spacing: 10px;
    word-break: break-all;

}

main{
    background-color: hotpink;
}

main article{
    padding: 40px 60px;
    margin: 20px auto;
    border: 3px solid green;
    width: 700px;
    background-color: yellow;
}

main article h2{
    color: blue;
    border: 1px dashed blue;
    text-align: center;
    display: inline;
}

.box{
    width: var(--width);
    height: 100px;
    background-color: aquamarine;
}


/* ! Ab jetzt mit realtiven einheiten */

/* $ "%" bezieht sich immer auf den elterncontainer */

.relative_container-percent {
    border: 2px solid green;
    width: 500px;
}

.container{
    width: 50%
}

img{
    width: 50%;
    display: block;
}

.box1{
    text-align: center;
    border: 2px solid white;
    padding: 50px;
    color: white;
    width: 100vw;
    height: 20vh;
}