body{
    background-color: lightgrey;
}

header{
    background-color: gray;
}

nav p{
    display: inline-block;
}

.Small{
    width: 400px;
    height: 400px;
}

.Medium{
    width: 600px;
    height: 600px;
}

.Large{
    width: 800px;
    height: 800px;
}

