section{
    background-color: #a5d6a7;
}

h1:nth-of-type(1){
    background-color: #4dd0e1;
}

p:nth-of-type(1){
    background-color: #C5CAE9;
}

article{
    background-color: #F48FB1;
}

article h1:nth-last-of-type(1){
    background-color: #7986cb;
}

article p:nth-last-of-type(1){
    background-color: #ff8a65;
}

button{
    background-color: #304FFE;
    color: white;
}