:root {
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}
form {
  width: 30vw;
  margin: 30vh auto;
}
section {
  padding-bottom: 10px;
  width: 100%;
}
label {
  font-weight: 700;
}

input,
select,
textarea {
  padding: 3px 6px;
  margin-top: 3px;
  width: 100%;
  /* height: 30px; */
}

textarea {
  height: 200px;
}

input,
label {
  display: block;
}
.required label::after {
  content: "*";
  color: red;
}

.submit button {
  border: none;
  background-color: #5f97aa;
  color: white;
  width: 100%;
  padding: 10px 0;
}
.nameRequired {
  width: 100%;
}

.name input {
  display: inline;
  width: 49%;
}
