/*      #483d8b  */

h3::first-letter {
  color: #2e8b57;
  font-size: 2rem;
}

li:nth-of-type(1)::first-letter {
  color: #00bfff;
  font-size: 2rem;
  text-decoration: overline;
}

li:nth-of-type(2)::first-letter {
  color: #c71585;
  font-size: 2rem;
  text-decoration: underline;
}

li:nth-of-type(3) {
  text-decoration: line-through;
}
li:nth-of-type(3)::first-letter {
  color: #32cd32;
  font-size: 2rem;
  text-decoration: line-through;
}

/* # ======p tag====== */
p::first-letter {
  color: #a020f0;
  font-size: 2rem;
}
p::first-line {
  color: #00ced1;
}

p:nth-of-type(1) {
  color: black;
  font-size: 0.5rem;
}
p:nth-of-type(1)::first-letter {
  color: black;
  font-size: 1rem;
}
p:nth-of-type(1)::first-line {
  padding: 30px;
  font-size: 1rem;
  color: black;
}

p:nth-of-type(3),
p:nth-of-type(5) {
  font-size: 0.5rem;
}
p:nth-of-type(3) {
  font-size: 0.5rem;
}
