* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  margin: 20px;
}

ul {
  margin-left: 30px;
  list-style: none;
}
h1::first-letter {
  color: brown;
  font-size: 2rem;
}

.done {
  text-decoration: line-through;
  padding-left: 24px;
}

.done::before {
  content: url(" ../img/check.png ");
  /* position: absolute; */
  /* left: 0;
  top: 0.2em;
  width: 16px;
  height: 16px; */
  background-image: url("../img/check.png");
  background-size: contain;
  background-repeat: no-repeat;
}
