* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  /* text-align: center; */
  /* margin: 0 auto;
  width: 80vw; */
  padding: 5% 15%;
}

section {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

code {
  color: blue;
  font-weight: bold;
}

.box-container {
  gap: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  border: 2px solid gray;
  width: 100px;
  height: 100px;
}

.static {
  background-color: rosybrown;
}
.relative {
  background-color: rgb(118, 250, 162);
  position: relative;
  top: 40px;
  bottom: 40px;
}

.relative-wrapper {
  position: relative;
}

.absolute {
  background-color: rgb(186, 60, 186);
  position: absolute;
  right: 0;
  bottom: 0;
}

.fixed {
  background-color: rgb(239, 123, 123);
  position: fixed;
  right: 10px;
  bottom: 120px;
}

.ich-schaffe-platz {
  height: 100vh;
}

.sticky {
  background-color: rgb(200, 240, 70);
  position: sticky;
  top: 0;
}

article:last-of-type .box-container {
  background-color: rgba(128, 128, 128, 0.5);
  align-items: flex-start;
  height: 50vh;

  margin-bottom: 4rem;
}

.sticky_zwei {
  background-color: rgb(200, 240, 70);
  position: sticky;
  top: 2px;
}

.btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  color: pink;
  background-color: brown;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1.5rem;
}
