*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    margin: 20px;

}

:root{
    --primary-color: #3498db;
    --font-size: 16px;
    --margin-bottom: 100px;
}

/* ? ==============HEADER============= */

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 100px;
}

header p:nth-of-type(2){
    margin-bottom: 50px;

}

header p::first-letter, h1::first-letter{
    color: red;
    font-size: 30px;
}

li::marker{
    content: "\f256";
    font-size: 20px;
    color: green;
    margin-right: 20px;
    
}

.hamburger{
    top: 50%;
    left: 10%;
    width: 30px;
    height: 6px;
    background-color: black;
    position: relative;
}

.hamburger::before{
    content: " ";
    top: 16px;
    width: 30px;
    height: 6px;
    background-color: black;
    position: absolute;

}

.hamburger::after{
    top: -16px;
    width: 30px;
    height: 6px;
    background-color: black;
    position: absolute;

}