@font-face {
    font-family: "Chelsea Market";
    src: url("../font/Chelsea_Market/ChelseaMarket-Regular.ttf");
}

@font-face {
    font-family: "Fredoka";
    src: url("../font/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Pacifico";
    src: url("../font/Pacifico/Pacifico-Regular.ttf");
}

@font-face {
    font-family: "Press Start 2P";
    src: url("../font/Press_Start_2P/PressStart2P-Regular.ttf");
}
